/* ProductsList */
.h2 {
  padding: 0 0.5rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 0.5rem;
}

/* ProductsListItem */
.listItem {
  justify-self: center;

  list-style: none;

  border: 1px solid gray;
  border-radius: 7px;

  padding: 0.5rem;

  height: 400px;
  max-width: 300px;
  min-width: 200px;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.listItem:hover {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.listItem > * + * {
  margin-top: 0.25rem;
}

.imageContainer {
  overflow: hidden;

  position: relative;
  height: 50%;

  cursor: pointer
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 7px;

  transition: transform 0.2s ease-in-out;
}

.productImage:hover {
  transform: scale(1.02);
}

.h3 {
  cursor: pointer;
}

.navIcon {
  position: absolute;
  top: 0.25rem;
  right: 0.rem;

  width: 1.5rem;
  color: black;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
}

.shippingcost {
  font-size: 0.75rem;
  font-weight: 500;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* ← number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartButton {
  background-color: gold;
  border-radius: 14px;
  padding: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;

  border: none;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.cartButton:hover {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cartButton:active {
  box-shadow: none;
}
@media (max-width: 1100px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 476px) {
  .listItem {
    max-width: 170px;
    min-width: 100px;
  }
  .description {
    -webkit-line-clamp: 4;
  }
}

@media(min-width: 1500px) {
  .gridContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}