.container {
  display: flex;
  flex-direction: column;

}


.imageContainer {
    position: relative;

    aspect-ratio: 1/1;
    overflow: hidden;

    border-radius: 7px;
  }

  .selectedImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

    
    .imageButtonLeft, .imageButtonRight {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 50%;


      border: none;
      border-radius: 50%;

      padding: 0.5rem;

      background-color: #d2d2d7a3;
      
      cursor: pointer;
    }

    .imageButtonLeft {
      left: 2.5%;
    }
    
    .imageButtonRight {
      right: 2.5%;
    }

    .arrow {
      color: #0000008f;
      width: 1.5rem;
    }
    .arrow:hover {
      color: #000000a3
    }

    .imageButtonLeft:hover, .imageButtonRight:hover {
      background-color: hsla(240, 6%, 88%, .698);
    }

    .imageButtonLeft:active, .imageButtonRight:active {
      background-color: hsla(240, 4%, 77%, .654);
    }

  .productImage {
    object-fit: cover;
    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .productImage:hover{
    transform: scale(1.1);
  }

  .imageGallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;

    margin-top: 1rem;
  }
  .imageGalleryItem {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;

    border-radius: 7px;

    grid-column: span 1;
  }

  .selected {
    border: 2px solid black;
  }
