.container {
  display: flex;
  flex-direction: column;

}


.imageContainer {
    position: relative;

    aspect-ratio: 1/1;
    overflow: hidden;

    border-radius: 7px;
  }

  .selectedImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .productImage {
    object-fit: cover;
    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .productImage:hover{
    transform: scale(1.1);
  }

  .imageGallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.5rem;

    margin-top: 1rem;
  }
  .imageGalleryItem {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;

    border-radius: 7px;

    grid-column: span 1;
  }
