

.productInfoSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  margin: 0 auto;
  max-width: 1500px;

  position: relative;
 
  /* これを追加すると中のコンテナが高さが出てそれによってscrollableになってポジションスティッキーが適用される */
  /* height: 1400px; */

}
.productInfoSection::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

.imageSection {
  grid-column: span 2;
  padding: 1rem;
  min-width: 400px;
  border: 1px solid gray;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: lightgray;

  position: sticky;
  top: 0px;
  
  align-self: start;

  /* ensure it’s not taller than viewport */
  max-height: calc(100vh - 100px);
}



  

.productDetail {
  grid-column: span 3;

  border: 1px solid gray;
  border-radius: 7px;

  overflow: visible;
  height: fit-content;
}