.page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.leftside {
  grid-column: span 2;

  min-width: 500px;


  border: 1px solid gray;
  border-radius: 7px;

  display: flex;
  justify-content: center;

  height: 30000px;
}

.stickyBox {
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  background: lightblue;
  height: 500px;
  border: 1px solid #ccc;
}

  

.rightside {
  grid-column: span 3;

  border: 1px solid gray;
  border-radius: 7px;
}