

.productInfoSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  margin: 0 auto;
  max-width: var(--largewidth);

 
  /* これを追加すると中のコンテナが高さが出てそれによってscrollableになってポジションスティッキーが適用される */
  /* height: 1400px; */

}


.imageSection {
  grid-column: span 3;
  padding: 1rem;
  min-width: 400px;

  /* border: 1px solid gray; */
  border-radius: 7px;

  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: rgb(247, 247, 247);

  position: sticky;
  top: 100px;
  
  align-self: start;

  /* ensure it’s not taller than viewport */
  max-height: calc(100vh - 100px);
}



  

.productDetail {
  grid-column: span 2;

  /* border: 1px solid gray; */
  border-radius: 7px;

  overflow: visible;
  height: fit-content;


  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

  .price {
    font-size: 1.5rem;
  }

  .taxIncluded {
    font-size: 0.75rem;
  }

  .buttons > * + * {
    margin-top: 1rem;
  }

    .favoriteButton {
      background-color: white !important;
      color: black !important;
      border: 1px solid black !important;
    }

    .icon {
      width: 1.5rem;
      padding-top: 0.25rem;
      color: red;
    }
  
  .description {
    max-width: 400px;
    white-space: pre-wrap;
  }